html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.offers-row-grid-box {
    margin: 10px;
    display: grid;
    background-color: white;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 250px 1fr;
    max-height: 250px;
}

.row-box-1 {
    margin: 10px;
    grid-row: 1/2;
    grid-column: 2/3;
}
.row-box-2 {
    word-break: break-all;
    display: flex;
    margin: 10px 10px 10px 20px;
    grid-column: 2/3;
    grid-row: 2/3;
}

.img {
    margin: 10px;
    grid-row: 1/3;
    grid-column: 1/2;
}

img {

    height: 100%;
    width: 100%;
    min-height: 200px;
    max-height: 300px;
}

.offers-row-grid-box-user {
    margin: 10px;
    display: grid;
    background-color: white;
    grid-template-rows: 1fr 2fr 60px;
    grid-template-columns: 250px 1fr;
    max-height: 300px;
}

.img-user {
    margin: 10px;
    max-height: 300px;
    grid-row: 1/4;
    grid-column: 1/2;
    min-height: 200px;
    max-height: 300px;
}

.button-del
{
    margin: 10px;
    display: flex;
    justify-content: end;
    grid-row: 3/4;
    grid-column: 2/3;
}