@page
@model ThingsToReturn.Pages.MonitorOfferModel
@{
}
<div class="text-center">
    <form method="post">
        <input hidden asp-for="Offer.Id" />
        <div class ="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary pl-3">Monitor an advertisement</h2> 
                <hr />
            </div>
            <div class="mb-3">
                <label asp-for="Offer.Name"></label>
                <input asp-for="Offer.Name" disabled class="form-control"/>
            </div>               
            <div class="mb-3">  
                <label asp-for="Offer.Description" ></label>
                <input asp-for="Offer.Description" disabled class="form-control"/>
            </div>
            <div class="mb-3">  
                <label asp-for="Offer.CreatedDate" ></label>
                <input asp-for="Offer.CreatedDate" disabled class="form-control"/>
            </div>
            <div class="mb-3">  
                <label asp-for="Offer.ExpirationDate" ></label>
                <input asp-for="Offer.ExpirationDate" disabled class="form-control"/>
            </div>
            
            @*
             <div class="mb-3">  
                <label asp-for="" ></label>
                <input asp-for="" disabled class="form-control"/>
            </div>
            <div class="mb-3">  
                <label asp-for="" ></label>
                <input asp-for="" disabled class="form-control"/>
            </div>*@

            <button type="submit" class="btn btn-success" style="width:150px">Confirm monitoring</button>
            <a asp-page="/Offers/Offers" class="btn btn-secondary" style="width:150px">Back to ads</a>
        </div>
    </form>
</div>
